<a href="https://colab.research.google.com/github/Olamyyde/programs/blob/main/TimesTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#prints the times table for a given number

n=int(input("Enter an integer: "))
for i in range(1,13):
  print(n, 'x', i, '=', n*i)

Enter an integer: 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230
23 x 11 = 253
23 x 12 = 276